body
  margin 0
  padding 0
  font-family 'sfpro', 'Arial', sans-serif
  color #16325c
  margin 0px 75px 75px 75px
  cursor default
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none

img
  user-select none
  -webkit-user-drag none
  -khtml-user-drag none
  -moz-user-drag none
  -o-user-drag none
  user-drag none
